# Conexión común a Oracle RDS
DB_URL=jdbc:oracle:thin:@//TU_ENDPOINT_RDS:1521/DIGITALF

# Credenciales de Catalog
CATALOG_DB_USERNAME=usuario_catalog
CATALOG_DB_PASSWORD=contraseña_catalog

# Credenciales de Workorders
WORKORDERS_DB_USERNAME=usuario_workorders
WORKORDERS_DB_PASSWORD=contraseña_workorders